//variables
$rojo: #de1d22;
$blanco: #ededed;
$negro: #000000;

//snippet box sizing p irish
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
}

.contenedor {
  max-width: 80%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: $blanco;
}

//mis estilos
body {
  font-family: "Inter", sans-serif;

  img {
    max-width: 100%;
  }

  .header-sitio {
    background-color: $rojo;
    padding: 20px 0;

    .contenido-header {
      display: flex;
      flex-direction: column;
      align-items: center;

      @media (min-width: 768px) {
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
      }

      .img-logo {
        img {
          height: 70px;
        }
      }

      .nav-header {
        .toggle-menu {
          text-align: center;
          display: block;
          margin-top: 30px;

          i {
            font-size: 1.3rem;

            &:hover {
              font-size: 1.4rem;
            }
          }

          @media (min-width: 768px) {
            display: none;
          }

          &::after {
            display: none !important;
          }
        }
        .enlaces-navegacion {
          display: none;

          @media (min-width: 768px) {
            display: inline-block;
          }

          a {
            position: relative;
            padding-bottom: 5px;
            display: block;
            margin-top: 20px;
            text-align: center;

            @media (min-width: 768px) {
              display: inline-block;
              margin-right: 20px;
              margin-top: 0px;
              width: fit-content;
            }

            &:last-of-type {
              margin-right: 0;
            }
            &::after {
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              height: 3px;
              width: 0;
              background-color: $blanco;
              display: inline-block;
              transition: all 0.2s ease;
            }
            &:hover::after {
              width: 100%;
            }
          }
        }
      }
    }
  }

  .hero {
    .slider {
      position: relative;

      .flecha-slick {
        color: $blanco;
        font-size: 1.5rem;
      }

      .slick-prev {
        position: absolute;
        top: 50%;
        left: 50px;
        z-index: 1;
      }

      .slick-next {
        position: absolute;
        top: 50%;
        right: 50px;
        z-index: 1;
      }

      .slide {
        height: 70vh;
        position: relative;
        outline: none;

        p {
          position: absolute;
          color: $blanco;
          text-transform: uppercase;
          padding: 10px;
          background-color: rgba(0, 0, 0, 1);
          text-align: center;
          width: 100%;
          bottom: 0;
          left: 0;
          height: fit-content;

          @media (min-width: 768px) {
            top: 80%;
            left: 50%;
            transform: translate(-50%, -80%);
            font-size: 2rem;
            font-weight: bold;
            background-color: rgba(0, 0, 0, 0.4);
            width: 80%;
          }
        }

        img {
          width: 100%;
          object-fit: cover;
          height: 100%;
          filter: brightness(0.7);
        }
      }
    }
  }

  .main-sitio {
    margin-top: 50px;
    .contenedor-acerca {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 50px;
        row-gap: 30px;

        @media (min-width: 680px) {
          grid-template-columns: repeat(2, 1fr);
        }

        @media (min-width: 1120px) {
          grid-template-columns: repeat(4, 1fr);
        }

        .item-acerca {
            text-align: center;
            padding: 15px;
            position: relative;
            cursor: pointer;

            .lado {
              position: absolute;
              display: inline-block;
              background-color: $rojo;
              transition: all .5s ease;
            }

            .l1 {
              top: 0;
              left: 0;
              height: 0;
              width: 3px;
            }

            .l2 {
              bottom: 0;
              left: 0;
              height: 3px;
              width: 0;
            }

            .l3 {
              bottom: 0;
              right: 0;
              height: 0;
              width: 3px;
            }

            .l4 {
              top: 0;
              left: 0;
              height: 3px;
              width: 0;
            }

            &:hover {
              .l1 {
                height: 100%;
              }

              .l2 {
                width: 100%;
              }

              .l3 {
                height: 100%;
              }

              .l4 {
                width: 100%;
              }
            }

            i {
                font-size: 1.2rem;
            }

            h3 {
                color: $rojo;
                margin: 15px 0 15px 0;
            }

            p {
                line-height: 1.5;
            }
        }
    }
  }

  .footer-sitio {
    margin-top: 50px;
    background-color: $negro;
    padding: 50px 30px;

    .contenido-footer {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      .tienda-pincha {
        img {
          width: 65%;

          @media (min-width: 768px) {
            width: 50%;
          }
        }
      }

      .redes {
        margin: 0 auto;
        a {
          display: block;
          text-align: left;
          margin-bottom: 10px;
          transition: all .3s ease;

          &:hover {
            color: $rojo;
          }

          &:hover i {
            transform: scale(1.2);
          }

          i {
            margin-right: 10px;
            width: 20px;
            text-align: center;
          }
        }
      }
    }
  }
}
