html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
}

.contenedor {
  max-width: 80%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #ededed;
}

body {
  font-family: "Inter", sans-serif;
}

body img {
  max-width: 100%;
}

body .header-sitio {
  background-color: #de1d22;
  padding: 20px 0;
}

body .header-sitio .contenido-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  body .header-sitio .contenido-header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

body .header-sitio .contenido-header .img-logo img {
  height: 70px;
}

body .header-sitio .contenido-header .nav-header .toggle-menu {
  text-align: center;
  display: block;
  margin-top: 30px;
}

body .header-sitio .contenido-header .nav-header .toggle-menu i {
  font-size: 1.3rem;
}

body .header-sitio .contenido-header .nav-header .toggle-menu i:hover {
  font-size: 1.4rem;
}

@media (min-width: 768px) {
  body .header-sitio .contenido-header .nav-header .toggle-menu {
    display: none;
  }
}

body .header-sitio .contenido-header .nav-header .toggle-menu::after {
  display: none !important;
}

body .header-sitio .contenido-header .nav-header .enlaces-navegacion {
  display: none;
}

@media (min-width: 768px) {
  body .header-sitio .contenido-header .nav-header .enlaces-navegacion {
    display: inline-block;
  }
}

body .header-sitio .contenido-header .nav-header .enlaces-navegacion a {
  position: relative;
  padding-bottom: 5px;
  display: block;
  margin-top: 20px;
  text-align: center;
}

@media (min-width: 768px) {
  body .header-sitio .contenido-header .nav-header .enlaces-navegacion a {
    display: inline-block;
    margin-right: 20px;
    margin-top: 0px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

body .header-sitio .contenido-header .nav-header .enlaces-navegacion a:last-of-type {
  margin-right: 0;
}

body .header-sitio .contenido-header .nav-header .enlaces-navegacion a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0;
  background-color: #ededed;
  display: inline-block;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

body .header-sitio .contenido-header .nav-header .enlaces-navegacion a:hover::after {
  width: 100%;
}

body .hero .slider {
  position: relative;
}

body .hero .slider .flecha-slick {
  color: #ededed;
  font-size: 1.5rem;
}

body .hero .slider .slick-prev {
  position: absolute;
  top: 50%;
  left: 50px;
  z-index: 1;
}

body .hero .slider .slick-next {
  position: absolute;
  top: 50%;
  right: 50px;
  z-index: 1;
}

body .hero .slider .slide {
  height: 70vh;
  position: relative;
  outline: none;
}

body .hero .slider .slide p {
  position: absolute;
  color: #ededed;
  text-transform: uppercase;
  padding: 10px;
  background-color: black;
  text-align: center;
  width: 100%;
  bottom: 0;
  left: 0;
}

@media (min-width: 768px) {
  body .hero .slider .slide p {
    top: 80%;
    left: 50%;
    -webkit-transform: translate(-50%, -80%);
            transform: translate(-50%, -80%);
    font-size: 2rem;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.4);
    width: 80%;
  }
}

body .hero .slider .slide img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
}

body .main-sitio {
  margin-top: 50px;
}

body .main-sitio .contenedor-acerca {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 50px;
          column-gap: 50px;
}

body .main-sitio .contenedor-acerca .item-acerca {
  text-align: center;
}

body .main-sitio .contenedor-acerca .item-acerca i {
  font-size: 1.2rem;
}

body .main-sitio .contenedor-acerca .item-acerca h3 {
  color: #de1d22;
  margin: 15px 0 15px 0;
}

body .main-sitio .contenedor-acerca .item-acerca p {
  line-height: 1.5;
}
